# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Poetry specific files
poetry.lock

# Virtual environment
.env/
.venv/

# Jupyter Notebook files
.ipynb_checkpoints/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pytest
.cache/
*.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm
.idea/

# macOS
.DS_Store

# Logs and debugging
*.log

# Coverage reports
.coverage
*.cover
coverage.xml
*.coveragerc

# Other tool caches and logs
*.egg-info/
.eggs/
pip-log.txt
pip-delete-this-directory.txt
build/
dist/
*.manifest
*.spec

# Test results
htmlcov/
.tox/
.nox/

# Static analysis tools
*.pyre/
*.pytype/
.pytype/
pyre-check/
pytype-check/
